body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 16px;
}

.tetris {
    text-align: center;
}

.tetris__fields {}

.tetris__row {
    display: flex;
    justify-content: center;
}

.tetris__col {
    width: 30px;
    height: 30px;
    border: 1px solid #c5bfbf;
}

.btnStart {
    background-color: chartreuse;
    color: black;
    font-size: 24px;
    width: 100px;
    height: 50px;
    margin-bottom: 30px;
    cursor: pointer;
}